#page {
    background-color: var(--background-color);
    width: 85%;
    margin: auto;
    overflow: auto;
    height: 100vh;
}

#lista {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    background-color: var(--cell-color-first);
    box-shadow: 0 3px 8px var(--shadow-color);
}

#logo {
    order: 1;
    max-width: 90px;
}

#selecro {
    order: 2;
    font-size: calc(1rem + 1vw);
}

#hledaci_bunka {
    order: 3;
    border-radius: 30px;
    background-color: var(--background-color);
    min-width: 30vw;
    position: relative;
}

#hledat {
    width: 100%;
    padding: 5px 20px;
    font-size: calc(.9rem + .4vw);
    height: 60px;
    outline-style: none;
    border-color: var(--text-color-black-and-white);
    border-width: 3px;
    border-radius: 30px;
    border-style: solid;
    background-color: var(--background-color);
}

#lupa {
    max-width: 40px;
    position: absolute;
    margin: 10px;
    right: 10px;
    filter: invert(var(--invert));
    cursor: pointer;
}

#search_result_ul {
    min-width: 100%;
    max-width: 34vw;
    position: absolute;
    z-index: 6;
    padding: 0;
    box-shadow: 0 3px 8px var(--shadow-color);
    text-align: center;
    border-radius: 20px;
}

#search_result_li {
    padding: 14px;
    background: var(--box-color);
    display: block;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--shadow-color);
    cursor: pointer;
}

#search_result_li:hover {
    border-width: 5px;
    background: var(--border-color-second);
}

#search_result_li:last-child {
    border-radius: 0px 0px 10px 10px;
    border-style: none;
}

#search_result_li:first-child {
    border-radius: 10px 10px 0px 0px;
}

#darkmode {
    order: 4;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    cursor: pointer;
}

#checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

#checkbox:checked + #slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

#slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkmode-input);
    border-radius: 30px;
}

#slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--darkmode-input);
    transition: .5s;
}

#translation {
    order: 5;
    background-color: var(--background-color);
    border: 0px solid var(--border-color-second);
    color: var(--text-color-black-and-white);
    appearance: none;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: calc(.9rem + .3vw);
    cursor: pointer;
}

#account {
    order: 6;
    background-color: var(--background-color-invert);
    padding: 5px;
    border-radius: 15px;
    max-width: 50px;
    filter: invert(var(--invert));
    cursor: pointer;
}

#hamburger {
    order: 7;
    background-color: var(--background-color-invert);
    padding: 5px;
    border-radius: 15px;
    max-width: 50px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    filter: invert(var(--invert));
    cursor: pointer;
}

#menu {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    margin-top: 20px;
    position: relative;
    z-index: 5;
}

#blok1,
#blok4,
#blok5,
#blok2_div,
#blok3_div {
    padding: 15px;
    background: var(--pink-backgroud);
    border-radius: 20px;
    box-shadow: 0 3px 8px var(--shadow-color);
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: calc(.9rem + .1vw);
    margin: 0;
    text-align: center;
    cursor: pointer;
}

#blok1:hover,
#blok4:hover,
#blok5:hover,
#blok2_div:hover,
#blok3_div:hover {
    background-color: var(--cell-header);
    transform: scale(1.03, 1.03);
}

#blok2_container,
#blok3_container {
    min-width: 200px;
    max-width: 100px;
    background-color: var(--box-color);
    display: none;
    position: absolute;
    box-shadow: 0 3px 8px var(--shadow-color);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

#pomucky,
#slovnik {
    min-width: 8vw;
    color: var(--text-color);
    padding: 14px 18px;
    text-decoration: none;
    background: var(--light-background);
    display: block;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--border-color-first);
    cursor: pointer;
}

#pomucky:hover,
#slovnik:hover {
    background-color: var(--cell-header);
}

#pomucky:last-child,
#slovnik:last-child {
    border-radius: 0 0 10px 10px;
    border-style: none;
}

#pomucky:first-child,
#slovnik:first-child {
    border-radius: 10px 10px 0 0;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1500px) {
    #body {
        background-image: none;
    }

    #page {
        width: 100%;
    }

    #lista {
        column-gap: 7vw;
    }
}

@media screen and (max-width: 1100px) {
    #lista {
        column-gap: 3vw;
    }

    #account,
    #hamburger {
        display: block;
        position: relative;
        height: 50px;
        width: 50px;
        padding: 5px;
    }

    #menu {
        position: fixed;
        flex-direction: column;
        right: -110px;
        width: 0;
        background-color: var(--cell-color-first);
        height: 100%;
        gap: 1%;
        justify-content: start;
        margin: 0;
        transition: .5s;
        padding-top: 5px;
        border-color: var(--background-color-third);
        border-top-style: solid;
        align-items: start;
        padding-left: 5px;
    }

    #blok1,
    #blok4,
    #blok5,
    #blok2_div,
    #blok3_div {
        padding: 5px;
        min-width: 182px;
    }

    #blok2_container,
    #blok3_container {
        min-width: 182px;
        position: relative;
    }

    #pomucky,
    #slovnik {
        padding: 0;
    }
}

@media screen and (max-width: 810px) {
    #lista {
        column-gap: 3vw;
    }

    #logo {
        max-width: 80px;
    }

    #selecro {
        display: none;
    }

    #hledaci_bunka {
        min-width: calc(1rem + 30vw);
    }

    #lupa {
        max-width: 35px;
        margin: 7px;
    }

    #translation {
        max-width: calc(1rem + 5vw);
        max-height: calc(1rem + 5vw);
    }

    #account,
    #hamburger {
        max-width: calc(1rem + 5vw);
        max-height: calc(1rem + 5vw);
    }

    #hledat {
        font-size: calc(.9rem + .4vw);
        height: 50px;
        background-size: calc(1rem + 2vw);
    }
}

@media screen and (max-width: 500px) {
    #lista {
        padding: 10px;
    }

    #hledaci_bunka {
        width: calc(1rem + 20vw);
    }

    #logo {
        display: none;
    }
}