#novinky {
    background: var(--cell-color-first);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 3px 8px var(--shadow-color);
    font-size: calc(.6rem + .5vw);
}

#obrazky {
    margin-top: 20px;
    text-align: center;
}

#obrazek_1,
#obrazek_2,
#obrazek_3 {
    max-width: 250px;
    border-radius: 40px;
    box-shadow: 0 3px 8px var(--shadow-color);
    margin: 20px;
}

#soc_site {
    display: flex;
    margin-top: 20px;
    gap: 62px;
    align-content: center;
    justify-content: center;
}

#card_1,
#card_2,
#card_3 {
    padding: 10px;
    box-shadow: 0 3px 8px var(--shadow-color);
    display: flex;
    justify-content: center;
    min-width: 18vw;
    border-radius: 30px;
}

#card_1:hover,
#card_2:hover,
#card_3:hover {
    transform: scale(1.03, 1.03);
}

#socials_logo_1,
#socials_logo_2,
#socials_logo_3 {
    max-width: 50px;
    filter: invert(var(--invert));
}

@media screen and (max-width: 1100px) {
    #obrazek_1,
    #obrazek_2,
    #obrazek_3 {
        max-width: 250px;
    }

    #socials_logo_1,
    #socials_logo_2,
    #socials_logo_3 {
        padding: 4px;
    }
}

@media screen and (max-width: 800px) {
    #obrazek_1,
    #obrazek_2,
    #obrazek_3 {
        max-width: 160px;
        margin: 10px;
    }

    #soc_site {
        gap: 33px;
    }
}

#instagram-post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
  }
  
  .instagram-post-content {
    width: 400px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   }
  
  .instagram-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  .username {
    font-weight: bold;
  }
  
  .instagram-image {
    width: 100%;
    display: block;
  }
  
  .instagram-description {
    padding: 10px;
    color: #333;
    display: block;
  }
  
  .instagram-link {
    display: block;
    text-align: center;
    padding: 10px;
    color: #3897f0;
    font-weight: bold;
    text-decoration: none;
    border-top: 1px solid #ddd;
  }
  
  .instagram-link:hover {
    background: #f7f7f7;
  }
  