/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* paleta */
<<<<<<< HEAD
  --primary-light-color: #6AB5CD;
  --primary-hover-light-color: #86D1EA;


  --primary-dark-color: #86D1EA;
  --primary-hover-dark-color: #6AB5CD;
=======
>>>>>>> origin/dev

  --color-dark-mode-text: #ffffff;
  --color-light-mode-text: #181818;

  --background-light: #F9FDFF;
  --background-dark: #F9FDFF;

  --primary-div-light-color: #B3EBFF;
  --primary-menu-light-color: #86D1EA;
  --primary-hover-light-color: #6AB5CD;
  --secondary-div-light-color: #FFD9E2;
  --secondary-button-light-color: #FFB1C7;
  --seconadary-hover-light-color: #E494AC;
  --secondary-border-light-color: #E494AC;

  --primary-div-dark-color: #B3EBFF;
  --primary-menu-dark-color: #86D1EA;
  --primary-hover-dark-color: #6AB5CD;
  --secondary-div-dark-color: #FFD9E2;
  --secondary-button-dark-color: #FFB1C7;
  --seconadary-hover-dark-color: #E494AC;
  --secondary-border-dark-color: #E494AC;

  /* default vue */
  --color-switch-backround: #BBBBBB;
  --color-switch-light: #FFB1C7;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* míry */
  --font-text: 'Libre Baskerville', serif;
  --font-heading: 'Merienda', cursive;
}

/* Light theme */
:root {
  --primary-div-color: var(--primary-div-light-color);
  --primary-menu-color: var(--primary-menu-light-color);
  --primary-hover-color: var(--primary-hover-light-color);

  --secondary-div-color: var(--secondary-div-light-color);
  --secondary-button-color: var(--secondary-button-light-color);
  --secondary-hover-color: var(--seconadary-hover-light-color);
  --secondary-border-color: var(--secondary-border-light-color);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--color-light-mode-text);
}

/* Dark theme */
html[data-theme='dark'] {
  --primary-div-color: var(--primary-div-dark-color);
  --primary-hover-color: var(--primary-hover-dark-color);

  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--color-dark-mode-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  padding-top: 150px;
  color: var(--color-text);
  background: #E494AC;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-text), serif;
  font-weight: 400;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
h1, h2, h3 {
  font-family: var(--font-heading);
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
=======
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), serif;
  font-weight: normal;
>>>>>>> origin/dev
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.custom-btn {
  background-color: #FFB1C7;
  border-radius: 40px;
  border: 1px solid #E494AC;
  transition: none;
}

.custom-btn:hover {
  background-color: #E494AC;
  cursor: pointer;
}
